html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cross-sign {
  cursor: pointer;
  margin-left: 3%;
}

.add-btn {
  background-color: #666;
  color: #fff;
  border: none;
  padding: 0 6px;
  cursor: pointer;
  outline: none;
  margin-left: 89%;
}

.todo-list {
  min-width: 400px;
  width: 50%;
  max-width: 1000px;
  box-shadow: 10px 14px 14px -5px rgba(0, 0, 0, 0.4);
}

.input {
  width: 95%;
  height: 40px;
  border: 1px solid #aaa;
  margin: 5px;
}

.title {
  margin-top: 14px;
  padding: 0 14px;
}

.list-ul {
  list-style: none;
  padding: 0 14px;
  margin: 0;
}

.list-li {
  padding: 7px 0;
  border-bottom: 1px solid #aaa;
}

.list-li:last-child {
  border-bottom: none;
  padding: 7px 0 0 0;
}

.list-li-text {
  border: none;
  background-color: #fff;
  padding: 0 10px;
  width: 83%;
}

.list-li-text:hover {
  background-color: #aaa;
}

.clear-btn {
  width: 100%;
  height: 40px;
  margin-top: 14px;
  border: none;
  cursor: pointer;
  background-color: #666;
  color: #fff;
}

.clear-btn:hover {
  background-color: #333;
}
